<!DOCTYPE html>
html(lang="en")
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='icon', type='image/png', sizes='32x32', href='./images/favicon-32x32.png')
    link(href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap" rel="stylesheet")
    link(rel="stylesheet", href="css/styles-min.css")
    title Frontend Mentor | Bookmark landing page
  body
    header.header
      img(src="images/logo-bookmark.svg", alt="logo").header__logo
      img(src="images/icon-hamburger.svg", alt="Hamburger").hamburger#hamburger
      nav.nav#nav
        ul.main-menu
          li.main-menu__item.link Features
          li.main-menu__item.link Pricing
          li.main-menu__item.link Contact
          button.button.button--red.button--login Login
        .social-media
          img(src="images/icon-facebook.svg", alt="Facebook").social-media__icon
          img(src="images/icon-twitter.svg", alt="Twitter").social-media__icon

    section.section.section--first
      .section__image
        img(src="images/illustration-hero.svg", alt="Image").section__img
      .section__item
        h1.title A Simple Bookmark Manager
        p.text A clean and simple interface to organize your favourite websites. Open a new browser tab and see your sites load instantly. Try it for free.
        .buttons
          button.button Get it on Chrome
          button.button.button--white Get it on Firefox

    section.section.section--second
      h2.title.title--center Features
      p.text.text--center Our aim is to make it quick and easy for you to access your favourite websites. Your bookmarks sync between your devices so you can access them on the go.
      ul#tabs.tabs
        li#firstTab.tabs__item.tabs__item--active Simple Bookmarking
        li#secondTab.tabs__item Speedy Searching      
        li#thirdTab.tabs__item Easy Sharing
      article.article.article--show
        img(src="images/illustration-features-tab-1.svg", alt="", srcset="").article__image
        .content
          h3.title Bookmark in one click
          p.text Organize your bookmarks however you like. Our simple drag-and-drop interface gives you complete control over how you manage your favourite sites.
          button.button More Info
      article.article
        img(src="images/illustration-features-tab-2.svg", alt="", srcset="").article__image
        .content
          h3.title Intelligent search
          p.text Our powerful search feature will help you find saved sites in no time at all. No need to trawl through all of your bookmarks.
          button.button More Info
      article.article
        img(src="images/illustration-features-tab-3.svg", alt="", srcset="").article__image
        .content
          h3.title Share your bookmarks
          p.text Easily share your bookmarks and collections with others. Create a shareable link that you can send at the click of a button.
          button.button More Info

    section.section.section--third
      h2.title.title--center Download the extension
      p.text.text--center We’ve got more browsers in the pipeline. Please do let us know if you’ve got a favourite you’d like us to prioritize.
      .card
        article.card__item.card__item--chrome
          img(src="images/logo-chrome.svg", alt="", srcset="").card__image
          h3.title Add to Chrome
          p.text Minimum version 62
          img(src="images/bg-dots.svg", alt="", srcset="").card__pattern
          button.button Add & Install Extension
        article.card__item.card__item--firefox
          img(src="images/logo-firefox.svg", alt="", srcset="").card__image
          h3.title Add to Firefox
          p.text Minimum version 55
          img(src="images/bg-dots.svg", alt="", srcset="").card__pattern
          button.button Add & Install Extension
        article.card__item.card__item--opera
          img(src="images/logo-opera.svg", alt="", srcset="").card__image
          h3.title Add to Opera
          p.text Minimum version 46
          img(src="images/bg-dots.svg", alt="", srcset="").card__pattern
          button.button Add & Install Extension

    section.section.section--fourth
      h2.title.title--center Frequently Asked Questions
      p.text.text--center Here are some of our FAQs. If you have any other questions you’d like answered please feel free to email us.
      #accordion.accordion
        .accordion__item
          .accordion__header
            h3.accordion__title What is Bookmark?
            img(src="images/icon-arrow.svg", alt="open", srcset="").accordion__image
          .accordion__content
            p.text.accordion__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tincidunt justo eget ultricies fringilla. Phasellus blandit ipsum quis quam ornare mattis.
        .accordion__item
          .accordion__header
            h3.accordion__title How can I request a new browser?
            img(src="images/icon-arrow.svg", alt="open", srcset="").accordion__image
          .accordion__content
            p.text.accordion__text Vivamus luctus eros aliquet convallis ultricies. Mauris augue massa, ultricies non ligula. Suspendisse imperdiet. Vivamus luctus eros aliquet convallis ultricies. Mauris augue massa, ultricies non ligula. Suspendisse imperdie tVivamus luctus eros aliquet convallis ultricies. Mauris augue massa, ultricies non ligula. Suspendisse imperdiet.
        .accordion__item
          .accordion__header
            h3.accordion__title Is there a mobile app?
            img(src="images/icon-arrow.svg", alt="open", srcset="").accordion__image
          .accordion__content
            p.text.accordion__text Sed consectetur quam id neque fermentum accumsan. Praesent luctus vestibulum dolor, ut condimentum urna vulputate eget. Cras in ligula quis est pharetra mattis sit amet pharetra purus. Sed sollicitudin ex et ultricies bibendum.
        .accordion__item
          .accordion__header
            h3.accordion__title What about other Chromium browsers?
            img(src="images/icon-arrow.svg", alt="open", srcset="").accordion__image
          .accordion__content
            p.text.accordion__text Integer condimentum ipsum id imperdiet finibus. Vivamus in placerat mi, at euismod dui. Aliquam  vitae neque eget nisl gravida pellentesque non ut velit.
        button.button More Info
        
    script(src="js/scripts-min.js")

//- browser tab and see your sites load instantly. Try it for free.

//-   More Info

//-   35,000+ already joined

//-   Stay up-to-date with what we’re doing

//-   Contact Us

//-   Features
//-   Pricing
//-   Contact